<ion-view view-title="About Shift Ninja">
  <ion-content class="padding">
      <h3>About this app</h3>
      <div class="full-page">
        <p>It was designed by the partners to help partners cover their shift</p>
        <h5>Use your best judgment and contact the person who wants to take your shift</h5>
        <p>This app is ment as a quick tool to get in touch with partners that would like to switch shifts with you.</p>
        
        <p>We suggest always contacting the other person via phone instead of just trusting that the person will show up</p>

        <p>We are not responsible or held accountable for missed shifts</p>

        <p>Partners working for license stores cant trade shifts due to their own store restrictions</p>
      </div>

  </ion-content>
</ion-view>