<ion-view view-title="Add a Shift" >
  <ion-content class="padding cover">

  <div class="list card">

    <!-- display for the shift date -->
    <div class="item item-divider">
      Shift Date
    </div>
    <div class="item item-text-wrap" ng-click="openDatePicker()">
      <i class="icon ion-calendar"></i>
        {{data.shiftDate}}
    </div>

    <!-- display for the shift start time -->
    <div class="item item-divider">
      Shift Start Time
    </div>
    <div class="item item-text-wrap" ng-click="openTimePicker1()">
      <i class="icon ion-clock"></i>
        {{data.startTime}}
    </div>

    <!-- display for the shift end time -->
    <div class="item item-divider">
      Shift End Time
    </div>
    <div class="item item-text-wrap" ng-click="openTimePicker2()">
      <i class="icon ion-clock"></i>
        {{data.endTime}}
    </div>

    <!-- display for the shift prize -->
    <div class="item item-divider">
      Prize
    </div>
    <div class="item item-text-wrap" ng-click="prizePicker()">
      <i class="icon ion-cash"></i>
        ${{data.prize}}.00
    </div>
  </div>

  <!-- button for submitting shift that calls the function with the correct date in the cover.service -->
  <button type="button" id="pickupshift" class="button button-large button-block button-positive" ng-click="postShift()">Confirm Shift</button>

  </ion-content>
</ion-view>