<ion-view view-title="Add a Shift" >
  <ion-content class="padding cover">

  <div class="list card">

    <div class="item item-divider">
      Shift Date
    </div>
    <div class="item item-text-wrap" ng-click="openDatePicker()">
      <i class="icon ion-calendar"></i>
        {{shiftDate}}
    </div>

    <div class="item item-divider">
      Shift Start Time
    </div>
    <div class="item item-text-wrap" ng-click="openTimePicker1()">
      <i class="icon ion-clock"></i>
        {{startTime}}
    </div>

    <div class="item item-divider">
      Shift End Time
    </div>
    <div class="item item-text-wrap" ng-click="openTimePicker2()">
      <i class="icon ion-clock"></i>
        {{endTime}}
    </div>

    <div class="item item-divider">
      Prize
    </div>
    <div class="item item-text-wrap" ng-click="prizePicker()">
      <i class="icon ion-cash"></i>
        {{shiftData.prize}}
    </div>
  </div>

  <button type="button" id="pickupshift" class="button button-large button-block button-positive" ng-click="postShift()">Confirm Shift</button>

  </ion-content>
</ion-view>