<ion-view view-title="Shift Ninja">
  <ion-content class="padding splashPage">
    <div class="container">
      <div class="splashHolder">
        <h3 class="splashHeader">Enter the Ninja</h3>
        <img id="lobbylogo" src="img/icon.png"/>
        <p>Created by partners for the partners</p>
      </div>
    </div>
    <form>
      <div>
        <label >
          <button class="button button-block button-positive" ng-click="authenticate('facebook')">Login with Facebook</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>