<ion-view title="Shift Ninja">

  <ion-content scroll="false" resize="true">

    <map id="map" on-create="mapCreated(map)" data-tap-disabled="true"></map>
    <!-- <div id="notification">
      <p id="noticeMsg">You have notification waiting</p>
      <button id="accepto" type="button"> Accepto! </button>
      <button id="accepto2" type="button" onclick="approve()"> Approve </button>
    </div> -->

    <div class="floatingButton">
      <button type="button" id="pickupshift" ng-if="pickupButtons" class="button button-large button-block button-positive" ng-click="pickup()">Pick up shift</button>
      <button type="button" id="covermyshift" ng-if="pickupButtons" class="button button-large button-block button-positive" ui-sref="tab.cover">Post a Shift</button>
    </div>

    <span class="button button-clear button-dark find-me2">Click to find stores near you!</span>
    <md-button ng-click="findMe()" class="button icon ion-android-locate button-clear button-dark find-me md-raised md-circle"></md-button>

    <div class="floatingButton" id="searchMe">

      <form class="item item-input" ng-submit="zipSearch(zip)">
        <i class="icon ion-search placeholder-icon"></i>
        <input name="zip" ng-model="zip" type="text" placeholder="Search by City or Zip">
        <!-- <button type="submit" class="button" ng-click="zipSearch()">Login</button> -->
      </form>

    </div>
  </ion-content>
</ion-view>
