<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="hamburger hamburger--emphatic" type="button" menu-toggle="right" ng-class="{'is-active': isActive}" ng-click="activeButton()">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

<ion-tabs class="tabs-icon-top">
  <!-- Map Tab -->
  <ion-tab title="Home" icon="icon ion-home" ui-sref="app.tab.map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Pickup Shift" icon="icon ion-android-sync" ui-sref="app.tab.pickup-list">
    <ion-nav-view name="tab-pickup-list"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Post a Shift" icon="icon ion-gear-b" ui-sref="app.tab.cover">
    <ion-nav-view name="tab-cover"></ion-nav-view>
  </ion-tab>

  <!-- My Shifts Tab -->
  <ion-tab title="My Shifts" icon="icon ion-gear-b" ui-sref="app.tab.myshifts">
    <ion-nav-view name="tab-myshifts"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Log in
        </ion-item>
        <ion-item menu-close ng-click="gotoProfile()">
          Profile
        </ion-item>
        <ion-item menu-close ui-sref="app.tab.account">
          Settings
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


