<ion-modal-view style="width: 90%; top: 5%; left: 5%; right: 5%;">
<ion-header-bar>
<h1 class="title">Send a message</h1>
<div class="buttons">
  <button class="button button-clear" ng-click="closeMessage()">Close</button>
</div>
</ion-header-bar>
<ion-content>
<span>
  <form class="prize" ng-submit="sendMessage(theMessage)">
    <div class="list">
      <label class="item item-input">
        <textarea ng-model="theMessage" rows='{{doc.description.length/50 + 1}}' cols='10'></textarea>
        <input type="text" ng-model="message.text">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Send Message</button>
      </label>
    </div>
  </form>
</span>
</ion-content>
</ion-modal-view>