<ion-view view-title="My Shifts">
  <ion-content class="padding">
    <div id="neededApproval" >
        <ion-list>
        <h2>Shifts that need approval</h2>
          <ion-item ng-repeat="shift in needApproval">
            <p>Where: {{shift.shift.storeId}}<br/>
            When: {{shift.shift.shift_start}} to {{shift.shift.shift_end}}<br/>
            Requested by: {{shift.user_requested}}</p>
          </ion-item>
        </ion-list>
    </div>
    <div id="postedShifts" >
       <ion-list>
       <h2>Shifts I posted</h2>
          <ion-item ng-repeat="shift in shifts">
            <p>Where: {{shift.storeId}}<br/>
            When: {{shift.shift_start}} to {{shift.shift_end}}<br/>
            Prize: {{shift.prize}}</p>
          </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>