<ion-view view-title="My Shifts">
  <ion-content class="padding">
    <div id="neededApproval" >
        <ion-list>
        <h3>Shifts that need your approval:</h3>
          <ion-item ng-repeat="shift in requests">
            <p>Where: {{shift.shift.home_store.address}}<br/>
            When: {{shift.shift.shift_start}} to {{shift.shift.shift_end}}<br/>
            Requested by: {{shift.user_requested}}<br/>
            Prize: {{shift.shift.prize}}</p>
            <button ng-click="connect(shift.user_requested)"> connect </button>
          </ion-item>
        </ion-list>
    </div>
    <div id="postedShifts" >
       <ion-list>
       <h3>Shifts you posted:</h3>

          <ion-item ng-repeat="shift in myshiftsArray">
            <p>Where: {{shift.home_store.address}}<br/>
            When: {{shift.shift_start}} to {{shift.shift_end}}<br/>
            Prize: {{shift.prize}}</p>
          </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>