<ion-view view-title="Shift Partner">
  <ion-content class="padding">
    <img src={{partnerInfo.facebookPic}}>
  	<p class="contact-header"> Name </p>
  	<p class="contact-info">{{partnerInfo.name}}</p>
  	
  	<p class="contact-header"> Email </p>
    <p class="contact-info"><a ng-href="mailto:{{partnerInfo.email}}">{{partnerInfo.email}}</a></p>
  	
  	<p class="contact-header"> Phone </p>
    <p class="contact-info"><a ng-href="sms:+14789986278">{{partnerInfo.phone}}</a></p>
  	
   	<p class="contact-header"> Positive ratings: </p>
  	<p class="positive-reps">{{partnerInfo.userRepPos}}</p>
      <p class="contact-header"> Negative ratings: </p>
    <p class="positive-reps">{{partnerInfo.userRepNeg}}</p>

  	<button class="button button-positive" ng-click="message()">Contact</button>
    <ul>
    <li>
    <button type="button" id="approveShift" class="button button-positive" ng-if="canApprove" ng-click="approve()">Accept</button>
    <button type="button" id="rejectShift" class="button button-positive" ng-if="canApprove" ng-click="reject()">Reject</button>
    </li>
    <li>
    <button type="button" id="repUpVote" class="button button-positive" ng-if="canVote" ng-click="upVote()">Upvote this user</button>
    <button type="button" id="repDownVote" class="button button-positive" ng-if="canVote" ng-click="downVote()">Downvote this user</button>
    </li>
    </ul>

  </ion-content>
</ion-view>