<ion-view title="Pickup a shift">
    <ion-content>
        <ion-refresher 
		  pulling-text="Pull to refresh..."
		  on-refresh="doRefresh2()">
		</ion-refresher>
       <ion-list>
			  <ion-item ng-repeat="shift in availableShifts">
			    <p>Where: {{shift.store}}<br/>
			    When: {{shift.start}}-{{shift.end}}<br/>
			    Posted by: {{shift.postedby}} (contact)<br/>
			    Prize: {{shift.prize}}</p>
			    <button ng-click="callFriend(shift.postedby, shift.id)">Claim this shift</button>
			  </ion-item>
			</ion-list>
    </ion-content>
</ion-view>