<ion-view title="Pickup a shift" ng-cloak>
<ion-content class="padding">

<div class="topbar" >
	<select  ng-if="false" ng-model="sortorder" >
		<option value="Sort by" selected disabled>Sort by</option>
		<option value="-prizeNum" selected="true">High prize</option>
		<option value="shift.shift_start">Time</option>
	</select>
	<ion-list class="mslist">
	<ion-item class="item-text-wrap" ng-repeat="shift in availableShifts | orderBy:sortorder">

	<div class="row responsive-md">
		<div class="col col-50">
			<p>Where: {{shift.home_store.address}}</p>
			<p>When: {{shift.shift_text_time}}</p>
			<p>Posted by: {{shift.submitted_by_name}} (contact)</p>
			<p>Prize: {{shift.prize}}</p>
		</div>

		<div class="col col-50">
			<button ng-click="pickupShift(shift)" class="button pums">Claim this shift</button>
		</div>
	</div>

	</ion-item>
		<div ng-if="availableShifts == false">
		<h3>Sorry, currently no shifts are available for pickup</h3>
		<p class="info">When there are shifts available they are displayed on the map with red markers</p>
		</div>
	</ion-list>
</ion-content>
</ion-view>