<ion-view title="Pickup a shift">
    <ion-content>
    	<div class="topbar">
    		<select ng-model="sortorder">
			  <option value="-prizeNum">High prize</option>
			  <option value="shift.shift_start">Time</option>
			</select>
       <ion-list>
			  <ion-item ng-repeat="shift in availableShifts | orderBy:sortorder:reverse">
			    <p>Where: {{shift.home_store.address}}<br/>
			    When: {{shift.shift_start}}-{{shift.shift_end}}<br/>
			    Posted by: {{shift.submitted_by_name}} (contact)<br/>
			    Prize: {{shift.prize}}</p>
			    <button ng-click="pickupShift(shift.submitted_by, shift._id)">Claim this shift</button>
			  </ion-item>
			</ion-list>
    </ion-content>
</ion-view>