<ion-modal-view style="width: 90%; top: 5%; left: 5%; right: 5%;">
  <ion-header-bar>
    <h1 class="title">Prize</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePrize()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div>
      <span class="input-label prizePick" > 
        <p class="prizeAmt"> ${{data.prize}}.00 </p>
        <br />
        <p class="upArrow"> 
          <a class="button icon ion-arrow-up-b button-clear button-dark" ng-click="increment()"></a>
        </p>
        <p class="downArrow">
          <a class="button icon ion-arrow-down-b button-clear button-dark" ng-click="decrement()"></a>
        </p>
      </span>

      <button class="button button-block button-positive" type="submit" ng-click="addPrize(prize)">Add Prize</button>
    </div>
  </ion-content>
</ion-modal-view>