<ion-view view-title="Profile">
  <ion-content class="padding">


    <div class="item item-divider">
        {{ data.profile.firstName + " " + data.profile.lastName }}
    </div>
    <div class="item">
      <img class="profilePic" ng-src="{{data.profile.profilePicture}}"/>
    </div>

    <div class="item item-divider">
      Email
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-email"></i>
        {{data.profile.email}}
    </div>

    <div class="item item-divider">
      Phone
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-iphone"></i>
        {{data.profile.phone}}
    </div>

    <div class="item item-divider">
      Home Store
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-location"></i>
        {{data.profile.home_store.address}}
    </div>

    <div class="item item-divider">
      Reputation
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-android-happy"></i>
      Positive reps: {{ data.profile.rating.positive || 0}}
      <br>
      <i class="icon ion-android-sad"></i>
      Negative reps: {{ data.profile.rating.negative || 0}}
    </div>

    <div class="item item-text-wrap">
      <i class=""></i>
      <button class="button button-positive" ng-click="openEditProfile()">Edit Profile</button>
    </div>

  </ion-content>
</ion-view>