<ion-view view-title="Profile">
  <ion-content class="padding">


    <div class="item item-divider">
        {{ profileData.firstName + " " + profileData.lastName }}
    </div>
    <div class="item item-avatar">
      <img class="profilePic" ng-src="{{profileData.profilePicture}}" alt="good looking dude" />
    </div>

    <div class="item item-divider">
      Email
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-email"></i>
        {{profileData.email}}
    </div>

    <div class="item item-divider">
      Phone
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-iphone"></i>
        {{profileData.phone}}
    </div>

    <div class="item item-divider">
      Home Store
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-location"></i>
        {{profileData.home_store.address}}
    </div>

    <div class="item item-divider">
      Reputation
    </div>
    <div class="item item-text-wrap">
      <i class="icon ion-android-happy"></i>
      Positive reps: {{ profileData.rating.positive }}
      <br>
      <i class="icon ion-android-sad"></i>
      Negative reps: {{ profileData.rating.negative }}
    </div>

<!-- 

    <img ng-src="{{profileData.profilePicture}}" alt="good looking dude" />

    <p class="profile-header"> Name </p>
    <p class="profile-info">{{ profileData.firstName + " " + profileData.lastName }}</p>

  	<p class="profile-header"> Email </p>
  	<p class="profile-info">{{ profileData.email }}</p>
  	
  	<p class="profile-header"> Phone </p>
  	<p class="profile-info">{{ profileData.phone }}</p>
  	
   	<p class="profile-header"> Home Store</p>
    <p class="profile-info">{{ profileData.home_store.address }}</p>

    <p class="profile-header"> My Reputation</p>
    <p class="profile-info"> Positive reps: {{ profileData.rating.positive }}</p>
    <p class="profile-info"> Negative reps: {{ profileData.rating.negative }}</p>
 -->

  	<button class="button button-positive" ng-click="openEditProfile()">Edit Profile</button>
  </ion-content>
</ion-view>