<ion-view view-title="Settings">
  <ion-content class="padding">

  <a class="item item-icon-left" href="#/tab/profile">
    <i class="icon ion-person"></i>
    Profile
  </a>

  <a class="item item-icon-left" ng-click="login()">
    <i class="icon ion-key"></i>
    Login
    <span class="item-note">
      testing..
    </span>
  </a>

  <a class="item item-icon-left" ng-click="logout()">
    <i class="icon ion-locked"></i>
    Logout
    <span class="item-note">
    </span>
  </a>

  </ion-content>
</ion-view>

