<ion-view view-title="Settings">
  <ion-content>
     <ul class="list">

     <li class="item item-toggle">
         Toggle 1
         <label class="toggle">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>

     <li class="item item-toggle">
         Toggle 2
         <label class="toggle">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>

     <li class="item item-toggle">
         Toggle 3
         <label class="toggle">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>

     <li class="item item-toggle">
         Toggle 4
         <label class="toggle">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>
     
 </ul>
  </ion-content>
</ion-view>

