<ion-view view-title="Settings">
  <ion-content>
     <ul class="list">

     <li class="item item-toggle">
         Toggle 1
         <label class="toggle">
             <input type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
     </li>
     <li><a class="button icon icon-right ion-chevron-right" href="#/tab/profile">Profile</a></li>

     <li><a class="button icon icon-right ion-chevron-right" ng-click="login()">Login</a></li>

     <li><a class="button icon icon-right ion-chevron-right" ng-click="logout()">Logout</a></li>
  </ion-content>
</ion-view>

