<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <!-- Map Tab -->
  <ion-tab title="Home" icon="icon ion-map" ui-sref="tab.map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Pickup Shift" icon="icon ion-android-person-add" class="md-raised" ui-sref="tab.pickup-list">
    <ion-nav-view name="tab-pickup-list"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Post a Shift" icon="icon ion-compose" ui-sref="tab.cover">
    <ion-nav-view name="tab-cover"></ion-nav-view>
  </ion-tab>

  <!-- My Shifts Tab -->
  <ion-tab title="My Shifts" ng-if="true" badge="badgeCount" ng-controller="AppCtrl" icon="icon ion-clipboard" ui-sref="tab.myshifts">
    <ion-nav-view name="tab-myshifts"></ion-nav-view>
  </ion-tab>

    <!-- Options Tab -->
  <ion-tab title="Settings" ng-if="true" icon="icon ion-ios-gear" ui-sref="tab.settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>