/* Empty. Add your own CSS if you like */

map {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.scroll {
  height: 100%;
}
/* Empty. But not for long */
.scroll {
    height: 100%;
}
 
.deleteShift {
  float: right;
  color: red;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}
.infowindow {
  padding-bottom: 40px;
}

#searchMe {
  top: 85%;
  width: 340px;
}

.card {
  font-size: 20px;
  position: relative;
  top: 5%;
}

.floatingButton {
	position: absolute;
	top:35%;
	opacity: 0.9;
	z-index: 100;
	width:400px;
    margin-left:-200px;
    left:50%;
    text-align: center;
}

#notification {
  display: none;
  position: absolute;
  top:8%;
  right: 1%;
  width:20%;
  height:10%;
  z-index: 101;
  background-color: #cecece;
  opacity: 0.9; 
  text-align: right;
  padding: 10px;
}

#loading {
  padding:20px;
  background-color: white;
  opacity: 0.9; 
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #0E848C;
  fill: #444;
}

.bar.bar-stable {
	background-color: #00592D;
	box-shadow: 0px 1px 2px #888888;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#136b2c+0,00592d+100 */
  background: #136b2c; /* Old browsers */
  background: -moz-linear-gradient(top,  #136b2c 0%, #00592d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #136b2c 0%,#00592d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #136b2c 0%,#00592d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136b2c', endColorstr='#00592d',GradientType=0 ); /* IE6-9 */

}
div.buttons.buttons-right.header-item > span > button {
	color: white;
}


.bar.bar-stable .title {
	color: white;
}

#front-page-buttons {
	margin-top: 12em;
}

.button.button-positive {
	background-color:#0E848C;
	border-color:#4CB7BF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.button.button-positive.activated{
	background-color:#00592D;
}

#pickupshift, #covermyshift {
	width:100%;
	margin: 2em auto;
	box-shadow: 0px 2px 2px #888888;
}

.profile-header {
	color: #666;
	margin-top: 2em;
}

.profile-info {
	font-size: 150%;
}

/* styling for location tags on map view */
.marker1 {margin: 1em 0 0;}
.marker2 {margin: 0;}
.marker3 {margin: 0;}
.marker4 {margin: 0;}
.marker5 {margin: 0;}
.marker6 {margin: 0;}
