/* Empty. Add your own CSS if you like */

map {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.header-item, .infowindow, h3 {
  font-family: 'PT Sans', sans-serif;
}

.splashHead {
  font-size: 48px;
  text-align: center;
}

.splashPage {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,ededed+100 */
background: rgb(252,252,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

#lobbylogo {
  width:200px;
}

.splashHolder{
  width:250px;
  margin: auto;
  text-align: center;
  color: #909090;
}

.scroll {
  height: 100%;
}
/* Empty. But not for long */
.scroll {
    height: 100%;
}
 
.deleteShift {
  float: right;
  color: red;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}
.infowindow {
  padding-bottom: 40px;
}

#searchMe {
  top: 85%;
  width: 340px;
}

.card {
  font-size: 20px;
  position: relative;
  top: 5%;
}
.container {
  margin-right: auto;
  margin-left: auto;
}

.floatingButton {
	position: absolute;
	top:35%;
	opacity: 0.9;
	z-index: 100;
	width:400px;
    margin-left:-200px;
    left:50%;
    text-align: center;
}

/*#notification {
  display: none;
  position: absolute;
  top:8%;
  right: 1%;
  width:20%;
  height:10%;
  z-index: 101;
  background-color: #cecece;
  opacity: 0.9; 
  text-align: right;
  padding: 10px;
}*/

.item-divider{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,dddddd+100 */
  background: rgb(247,247,247); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

#loading {
  padding:20px;
  background-color: white;
  opacity: 0.9; 
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #0E848C;
  fill: #444;
}

.bar.bar-stable {
	background-color: #00592D;
	box-shadow: 0px 1px 2px #888888;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#136b2c+0,00592d+100 */
  background: #136b2c; /* Old browsers */
  background: -moz-linear-gradient(top,  #136b2c 0%, #00592d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #136b2c 0%,#00592d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #136b2c 0%,#00592d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136b2c', endColorstr='#00592d',GradientType=0 ); /* IE6-9 */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008e47+0,006e2e+100 */
  background: rgb(0,142,71); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,142,71,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,142,71,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,142,71,1) 0%,rgba(0,110,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008e47', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
}

div.buttons.buttons-right.header-item > span > button {
	color: white;
}


.bar.bar-stable .title {
	color: white;
}

#front-page-buttons {
	margin-top: 12em;
}

.button.button-positive {
	background-color:#0E848C;
	border-color:#4CB7BF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.button.button-positive.take-shift {
  background-color:#47B7BF;
  border-color:#4CB7BF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.button.button-positive.activated{
	background-color:#00592D;
}

#pickupshift, #covermyshift {
	width:100%;
	margin: 2em auto;
	box-shadow: 0px 2px 2px #888888;
}

.myShifts {
  padding-bottom: 40px;
}

#neededApproval, #postedShifts, #pickedUpShifts {
  margin: 1em auto;
}

.profile-header {
	color: #666;
	margin-top: 2em;
}

.profile-info {
	font-size: 150%;
}
.tabs .tab-item .badge {
  background-color: #e42012;
}

/* styling for location tags on map view */
.marker1 {margin: 1em 0 0;}
.marker2 {margin: 0;}
.marker3 {margin: 0;}
.marker4 {margin: 0;}
.marker5 {margin: 0;}
.marker6 {margin: 0;}

.date_cell {
  cursor: pointer;
}

.pulist ion-item {
  border: 2px solid #bbb;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0;
}

.mslist .msitem {
  border: 2px solid #bbb;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0;
}

.claimlist .claimitem {
  border: none;
  margin: 0.5em 0;
  padding: 0;
}

.prizePick {
  padding: 3% 0% 0% 0%;
  margin: auto;
}

.prizeAmt {
  font-size: 175%;
  text-align: center;
  margin: auto;
  letter-spacing: 1px;
}

.upArrow {
  text-align: center;
}

.downArrow {
  text-align: center;
}

button.pums {
  background-color: #0E848C;
  border: 1px solid #4CB7BF;
  box-shadow: 0px 2px 2px #888888;
  padding: .5em 1em;
  line-height: 1.5em;
  color: white;
  text-align: left;
}

button.pums:hover {
  color: white;
}
